[run]
branch = True
concurrency = thread
source = hikari
timid = True

[report]
fail_under = 80
ignore_errors = True
show_missing = True
sort = Miss

[html]
directory = public/coverage
title = "Hikari Coverage Report"

[xml]
output = public/coverage.xml
