#####################################################################
# Ignore configuration for docker runners in .ci/local-test-runners #
#####################################################################

**/__pycache__