[flake8]
count = true

ignore =
    E402,      # Module level import not at top of file (isn't compatible with our import style).
    D105,      # Magic methods not having a docstring
    D102,      # Missing docstring in public method

per-file-ignores =
    # f-string missing prefix.
    hikari/net/routes.py:FS003
    # complaints about importing stuff and not using it afterwards
    hikari/__init__.py:F401

max-complexity = 15
max-line-length = 120
show_source = False
statistics = False

accept-encodings = utf-8

docstring-convention = numpy
