################
# UNIT TESTING #
################

# Mocks (stdlib ones change between versions of Python, so are not consistent in behaviour like the backport is).
mock==4.0.3

# Py.test stuff.
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==2.12.1
pytest-randomly==3.10.1

# Coverage testing.
coverage==6.0b1

# Other stuff
async-timeout==3.0.1  # Used for timeouts in some test cases.

#################
# DOCUMENTATION #
#################

pdoc3==0.10.0
sphobjinv==2.1

#################
# TYPE CHECKING #
#################

mypy==0.910

#######################
# DEPENDENCY CHECKING #
#######################

safety~=1.10.3

#############
# FORMATING #
#############

black==21.7b0
isort==5.9.3
