################
# UNIT TESTING #
################

# Mocks (stdlib ones change between versions of Python, so are not consistent in behaviour like the backport is).
mock==4.0.3

# Py.test stuff.
pytest==6.2.1
pytest-asyncio==0.14.0
pytest-cov==2.11.1
pytest-randomly==3.5.0

# Coverage testing.
coverage==5.3.1

# Other stuff
async-timeout==3.0.1  # Used for timeouts in some test cases.

#################
# DOCUMENTATION #
#################

pdoc3==0.9.2
sphobjinv==2.0.1

#################
# TYPE CHECKING #
#################

mypy==0.790

#######################
# DEPENDENCY CHECKING #
#######################

safety~=1.10.3


#############
# FORMATING #
#############
black==20.8b1
isort==5.7.0
