aiohttp==3.7.4.post0
attrs==20.3.0
colorlog==5.0.1
multidict==5.1.0

# This will always be there because it is a dependency of setuptools. In the case you install the package using `-e`
# flag, it will fetch the dependency off here.
packaging
