[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hikari = "==2.0.0.dev101"
rillrate = "==0.38.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
