@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400&display=swap&family=Source+Code+Pro:wght@200');

:root {
  --dark-bg: #191919;
  --light-fg: #C66CB7;
  --unfocused-fg: #C66CB7;
  --dark-fg: #8F3881;
  --accent-1: #e44ecc;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: var(--light-fg);
}

.display-1 {
  color: var(--accent-1);
  font-size: 4rem;
  font-weight: 300 !important;
}

.display-1 > small {
  font-family: monospace;
  color: var(--accent-1);
  font-size: 0.35em;
  font-weight: 100 !important;
  font-family: 'Source Code Pro', monospace;
}

.mono {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

/*
 * Base structure
 */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 360px;
  background-color: var(--dark-bg);
  overflow-y: hidden;
}

header, main, footer {
  display: none;
}

html, body, .lead {
  font-family: 'Montserrat Alternates', sans-serif !important;
  font-weight: 400 !important;
}

.lead {
  font-weight: 400 !important;
}

strong {
  font-weight: 400 !important;
  text-decoration: underline;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  color: rgba(255, 255, 255, 255);
  box-shadow: inset 0 0 100rem rgba(0, 0, 0, 1);
}

.cover-container {
  overflow-y: auto;
  padding-left: 10% !important;
  padding-right: 10% !important;
  max-width: 100%;
  position: absolute;
}

/*
* Header
*/
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--unfocused-bg);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgba(255, 255, 255, 0.75);
  border-bottom-color: var(--light-fg);
}

/*
* Cover
*/
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
* Footer
*/
.mastfoot {
  color: rgba(255, 255, 255, .2);
}

/*
* Add text to the background
*/
.background-only-base {
  background: inherit;
  display: contents;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.background-only {
  overflow: hidden;
  padding-top: 10vh;
  filter: blur(0.15em) contrast(45%) brightness(50%);
  font-size: 0.7vmax;
}

/*
* highlight.js
* https://github.com/highlightjs/highlight.js/blob/master/src/styles/monokai-sublime.css
*/
.hljs {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  background: inherit;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.red { color: red !important; }
.ora { color: orange !important; }
.yel { color: yellow !important; }
.gre { color: green !important; }
.cya { color: cyan !important; }
.blu { color: blue !important; }
.pur { color: purple !important; }
.gra { color: gray !important; }
.whi { color: white !important; }
.bwh { color: white !important; font-weight: bold; }
.lin { color: aqua !important; text-decoration: underline; }
.pre {
  white-space: pre;
}
