<!doctype html>
<html lang="en" class="sidebar-hidden">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="pdoc {{ __version__ }}" />
    <title>{% block title %}{% endblock %} | v{{ __hikari_version__ }}</title>
    <link rel="icon" href="https://www.hikari-py.dev/logo.png"/>

    {% block head %}{% endblock %}
    {% block style %}
        <style>{% include 'bootstrap-reboot.min.css' %}</style>
    {% endblock %}

</head>
<body>{% block body %}{% endblock %}</body>
</html>
