html {
    word-wrap: anywhere;
}

body {
    --toc-item-spacing-horizontal: 0.5rem;
    --admonition-font-size: 0.8em;
}

.icon {
    user-select: none;
}

.viewcode-back {
    position: absolute;
    right: 1em;
    background-color: var(--color-code-background);
    width: auto;
}

.toc-drawer {
    width: initial;
    max-width: 20em;
    right: -20em;
}

.toc-tree ul ul ul ul {
    border-left: 1px solid var(--color-background-border);
}

@media (max-width: 82em) {
    body {
        font-size: 0.7em;
    }

    .toc-tree {
        padding-left: 0;
    }

    .sidebar-brand-text {
        font-size: 1rem;
    }

    .sidebar-tree .reference {
        padding: 0.5em 1em;
    }
}
