html {
    word-wrap: anywhere;
}

.icon {
    user-select: none;
}

@media (max-width: 82em) {
    body {
        font-size: 0.7em;
    }

    .toc-tree {
        padding-left: 0;
    }

    .toc-drawer {
        width: inherit;
        max-width: 20em;
        padding-right: 0;
        right: -20em;
    }

    .sidebar-brand-text {
        font-size: 1rem;
    }
}
