name: Prepare Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to prepare the release for"
        required: true

jobs:
  prepare-release:
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/master'

    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@064492a9a1762067169d50c792a7dc02bc3d1254 # v2.0.0
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # We need to use a bot token to be able to trigger workflows that listen to pull_request calls
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup git config
        run: |
          git config --global user.name "hikari-bot"
          git config --global user.email "90276125+hikari-bot[bot]@users.noreply.github.com"

      - name: Setup uv
        uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
        with:
          python-version: 3.9

      - name: Run prepare script
        env:
          VERSION: ${{ inputs.version }}
        run: bash scripts/ci/prepare-release.sh

      - name: Create pull request
        env:
          VERSION: ${{ inputs.version }}
          AUTHOR: ${{ github.event.sender.login }}
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          title="Prepare for release of ${VERSION}"
          body="Release preparation triggered by @${AUTHOR}.

          Once the pull request is merged, you can trigger a PyPI release by creating a GitHub release for \`${VERSION}\` in the repository."

          gh pr create \
            --title "${title}" \
            --body "${body}" \
            --assignee "${AUTHOR}"
