name: Prepare Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to prepare the release for"
        required: true

jobs:
  prepare-release:
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/master'

    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # We need to use a bot token to be able to trigger workflows that listen to pull_request calls
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup git config
        run: |
          git config --global user.name "hikari-bot"
          git config --global user.email "90276125+hikari-bot[bot]@users.noreply.github.com"

      - name: Setup uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          python-version: 3.14
          activate-environment: true

      - name: Run prepare script
        env:
          VERSION: ${{ inputs.version }}
        run: bash scripts/ci/prepare-release.sh

      - name: Create pull request
        env:
          VERSION: ${{ inputs.version }}
          AUTHOR: ${{ github.event.sender.login }}
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          title="Prepare for release of ${VERSION}"
          body="Release preparation triggered by @${AUTHOR}.

          Once the pull request is merged, you can trigger a PyPI release by creating a GitHub release for \`${VERSION}\` in the repository."

          gh pr create \
            --title "${title}" \
            --body "${body}" \
            --assignee "${AUTHOR}"
